<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/book.css">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title><%= book.title %> - WTLibrary</title>
</head>
<body>
    <main>
        <header>
            <img src="/favicon.png" alt="logo">
            <h1><a href="/">WTLibrary</a></h1>
            <% if (isAuthenticated) { %>
                <a class="auth-link" href="/profile"><i class="bi bi-person-fill"></i><%= user.firstName[0] + ". " + user.lastName %></a>
                <a class="auth-link" href="/logout"><i class="bi bi-box-arrow-in-left"></i>Log out</a>
            <% } else { %>
                <a class="auth-link" href="/login"><i class="bi bi-box-arrow-in-right"></i>Log in</a>
                <a class="auth-link" href="/signup"><i class="bi bi-person-lines-fill"></i>Sign up</a>
            <% } %>
            <p><i id="hamburger-icon" class="bi bi-list"></i></p>
            <ul id="hamburger-menu">
                <% if (isAuthenticated) { %>
                    <li><a class="auth-link" href="/profile"><i class="bi bi-person-fill"></i><%= user.firstName[0] + ". " + user.lastName %></a></li>
                    <li><a class="auth-link" href="/logout"><i class="bi bi-box-arrow-in-left"></i>Log out</a></li>
                <% } else { %>
                    <li><a class="auth-link" href="/login"><i class="bi bi-box-arrow-in-right"></i>Log in</a></li>
                    <li><a class="auth-link" href="/signup"><i class="bi bi-person-lines-fill"></i>Sign up</a></li>
                <% } %>
            </ul>
        </header>
        <section class="book">
            <aside class="book__summary">
                <img class="book__summary__image" src="<%= book.coverImageUrl %>">
                <h4><%= book.title %></h4>
                <p class="text--sub" style="margin-top:0;">
                    by <%= book.author.first_name + " " + book.author.last_name %>
                    <% if (book.author.alias) { %>(<%= book.author.alias %>)<% } %>
                </p>
                <% if (hasReservation) { %>
                    <button id="return" class="book__summary__return-btn">Return book</button>
                <% } else { %>
                    <% if (isAuthenticated) { %>
                        <button id="reserve" class="book__summary__reserve-btn">Reserve this book</button>
                    <% } else { %>
                        <button onclick="window.location.href = '/login?redirect=/book/<%= book.isbn %>'" class="book__summary__reserve-btn unauth">Log in to reserve</button>
                    <% } %>
                    <% if (book.available > 1) { %>
                        <p class="book__summary__availability availability--good">Available</p>
                    <% } else if (book.available === 1) { %>
                        <p class="book__summary__availability availability--limited">Only one available</p>
                    <% } else { %>
                        <p class="book__summary__availability availability--none">Currently unavailable</p>
                    <% } %>

                <% } %>
            </aside>
            <article class="book__content">
                <h3>Book and plot description</h3>
                <p><%= book.description %></p>
                <% if (book.author.summary) { %>
                    <h3>About the author</h3>

                    <% if (book.author.portraitUrl) { %>
                        <img class="book__content__author-portrait" src="<%= book.author.portraitUrl %>" alt="Picture of <%= book.author.first_name + " " + book.author.last_name %>"/>
                    <% } %>

                    <% for (paragraph of book.author.summary.split("\\n\\n")) { %>
                        <p><%= paragraph %></p>
                    <% } %>
                <% } %>
            </article>
        </section>
    </main>
    <% if (isAuthenticated) { %>
        <script>
            let displayedConfirmation = false;
            let returnButton = document.getElementById("return");
            let reserveButton = document.getElementById("reserve");
            let textOrig = "";

            function reserveReturn(reserve) {
                let btn = reserve ? reserveButton : returnButton;
                if (!displayedConfirmation) {
                    textOrig = btn.innerText;
                    btn.innerText = "Click again to confirm";
                    btn.classList.add("confirm");
                    displayedConfirmation = true;
                    return;
                }

                btn.innerText = textOrig;
                btn.classList.remove("confirm");
                displayedConfirmation = false;
                const xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function() {
                    if (this.readyState !== XMLHttpRequest.DONE) return;
                    if (this.status !== 200) {
                        if (this.response) alert(JSON.parse(this.response).error);
                        return;
                    }

                    location.reload();
                };

                if (reserve) {
                    xhr.open("POST", "/api/reserve/<%= book.isbn %>");
                } else {
                    xhr.open("POST", "/api/return/<%= book.isbn %>");
                }
                xhr.send(null);
            }

            if (returnButton) returnButton.addEventListener("click", () => reserveReturn(false));
            if (reserveButton) reserveButton.addEventListener("click", () => reserveReturn(true));
        </script>
    <% } %>
    <script src="/js/hamburger.js"></script>
</body>
</html>
