<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/definitions.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script src="js/index.js" type="module"></script>
    <title>WTLibrary - Home</title>
</head>
<body>
    <main>
        <header>
            <img src="/favicon.png" alt="logo">
            <h1><a href="/">WTLibrary</a></h1>
            <% if (isAuthenticated) { %>
                <a class="auth-link" href="/profile"><i class="bi bi-person-fill"></i><%= user.firstName[0] + ". " + user.lastName %></a>
                <a class="auth-link" href="/logout"><i class="bi bi-box-arrow-in-left"></i>Log out</a>
            <% } else { %>
                <a class="auth-link" href="/login"><i class="bi bi-box-arrow-in-right"></i>Log in</a>
                <a class="auth-link" href="/signup"><i class="bi bi-person-lines-fill"></i>Sign up</a>
            <% } %>
        </header>
        <section class="pages">
            <div id="pagination">
                <a id="previous">&laquo;</a>
                <% for (let i = 0; i < pages; i++) { %>
                    <% if (i-1) { %>
                        <a class="page-selector" href="?page=<%= i %>"><%= i+1 %></a>
                    <% } else { %>
                        <a class="page-selector" href="?page=<%= i %>"><%= i+1 %></a>
                    <% } %>
                <% } %>
                <a id="next">&raquo;</a>
            </div>
        </section>
        <section id="catalog" class="catalog">
            <% for (var book of books) { %>
                <article class="catalog__book-card">
                    <a href="/book/<%= encodeURIComponent(book.isbn) %>">
                        <img src="<%= book.coverImageUrl%>" alt="Cover image of <%= book.title %>">
                        <h4><%= book.title %></h4>
                    </a>
                    <p>by <%= book.author.alias ? book.author.alias : book.author.first_name + " " + book.author.last_name %></p>
                </article>
            <% } %>
        </section>
    </main>
</body>
</html>
