<!--
This EJS file generates the HTML content for the home page.
It includes the header with navigation links, pagination for book catalog pages, and displays a list of books with their cover images, titles, and authors.

Variables:
- urlBase: The base URL of the application.
- isAuthenticated: A boolean indicating whether the user is authenticated.
- user: The authenticated user object.
- pages: The total number of pages in the book catalog.
- books: An array containing book objects with details such as title, author, and cover image.

Dependencies:
- Bootstrap Icons: The icon library used for various icons in the UI.
- global.css: The global stylesheet for styling common elements.
- definitions.css: The stylesheet specific to definitions-related content.
- index.css: The stylesheet specific to the home page.
- index.js: The JavaScript module file containing client-side functionality for the home page, such as pagination and navigation.
-->
<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="<%= urlBase %>/css/global.css">
    <link rel="stylesheet" href="<%= urlBase %>/css/definitions.css">
    <link rel="stylesheet" href="<%= urlBase %>/css/index.css">
    <link rel="icon" type="image/png" href="<%= urlBase %>/favicon.png" />
    <script src="<%= urlBase %>/js/index.js" type="module"></script>
    <title>WTLibrary - Home</title>
</head>
<body>
    <main>
        <header>
            <img src="<%= urlBase %>/favicon.png" alt="logo">
            <h1><a href="<%= urlBase %>">WTLibrary</a></h1>
            <% if (isAuthenticated) { %>
                <a class="auth-link" href="<%= urlBase %>/profile"><i class="bi bi-person-fill"></i><%= user.firstName[0] + ". " + user.lastName %></a>
                <a class="auth-link" href="<%= urlBase %>/logout"><i class="bi bi-box-arrow-in-left"></i>Log out</a>
            <% } else { %>
                <a class="auth-link" href="<%= urlBase %>/login"><i class="bi bi-box-arrow-in-right"></i>Log in</a>
                <a class="auth-link" href="<%= urlBase %>/signup"><i class="bi bi-person-lines-fill"></i>Sign up</a>
            <% } %>
            <p><i id="hamburger-icon" class="bi bi-list"></i></p>
            <ul id="hamburger-menu">
                <% if (isAuthenticated) { %>
                    <li><a class="auth-link" href="<%= urlBase %>/profile"><i class="bi bi-person-fill"></i><%= user.firstName[0] + ". " + user.lastName %></a></li>
                    <li><a class="auth-link" href="/logout"><i class="bi bi-box-arrow-in-left"></i>Log out</a></li>
                <% } else { %>
                    <li><a class="auth-link" href="<%= urlBase %>/login"><i class="bi bi-box-arrow-in-right"></i>Log in</a></li>
                    <li><a class="auth-link" href="<%= urlBase %>/signup"><i class="bi bi-person-lines-fill"></i>Sign up</a></li>
                <% } %>
            </ul>
        </header>
        <section class="pages">
            <div id="pagination">
                <a id="previous">&laquo;</a>
                <% for (let i = 0; i < pages; i++) { %>
                    <% if (i-1) { %>
                        <a class="page-selector" href="<%= urlBase %>?page=<%= i %>"><%= i+1 %></a>
                    <% } else { %>
                        <a class="page-selector" href="<%= urlBase %>?page=<%= i %>"><%= i+1 %></a>
                    <% } %>
                <% } %>
                <a id="next">&raquo;</a>
            </div>
        </section>
        <section id="catalog" class="catalog">
            <% for (var book of books) { %>
                <article class="catalog__book-card" onclick="window.location.href = '<%= urlBase %>/book/<%= book.isbn %>'">
                    <img src="<%= book.coverImageUrl%>" alt="Cover image of <%= book.title %>">
                    <h4><%= book.title %></h4>
                    <p>by <%= book.author.alias ? book.author.alias : book.author.first_name + " " + book.author.last_name %></p>
                </article>
            <% } %>
        </section>
    </main>
    <script src="<%= urlBase %>/js/hamburger.js"></script>
</body>
</html>
