<!--
This EJS file generates the HTML content for the profile page.
It displays the user's profile information and borrowing history.

Variables:
- urlBase: The base URL of the application.
- user: An object containing the user's profile information, including username, email, first name, last name, street and house number, zip code, and city.
- history: An array containing the user's borrowing history, each element representing a reservation with details such as book title, start date, end date, and reservation state.

Dependencies:
- Bootstrap Icons: The icon library used for various icons in the UI.
- global-form.css: The global stylesheet for styling form elements.
- definitions.css: The stylesheet specific to definitions-related content.
- profile.css: The stylesheet specific to the profile page.

Form Elements:
- username: Input field displaying the user's username.
- email: Input field displaying the user's email address.
- first-name: Input field displaying the user's first name.
- last-name: Input field displaying the user's last name.
- street-and-number: Input field displaying the user's street and house number.
- zip-code: Input field displaying the user's zip code.
- city: Input field displaying the user's city.

Functionality:
- The form fields are disabled, indicating that they are for display purposes only and cannot be edited by the user.
- The borrowing history is displayed in a table format, showing details such as book title, start date, end date, and reservation state.
- If the borrowing history is empty, a message indicating "No history" is displayed.
- Depending on the reservation state, the corresponding CSS class is applied to highlight the state (Returned, Due, Late).
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="<%= urlBase %>/css/global-form.css">
    <link rel="stylesheet" href="<%= urlBase %>/css/definitions.css">
    <link rel="stylesheet" href="<%= urlBase %>/css/profile.css">
    <link rel="icon" type="image/png" href="<%= urlBase %>/favicon.png" />
    <title><%= user.firstName + " " + user.lastName %> (<%= user.username %>) - WTLibrary</title>
</head>
<body>
<main>
    <header>
        <img src="<%= urlBase %>/favicon.png" alt="logo"/>
        <h1><a href="<%= urlBase %>">WTLibrary</a></h1>
    </header>

    <h3>Profile</h3>
    <form>
        <fieldset>
            <div>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" value="<%= user.username %>" disabled/>
            </div>

            <div>
                <label for="email">Email address</label>
                <input id="email" name="email" type="text" value="<%= user.email %>" disabled/>
            </div>

            <div>
                <label for="first-name">First name</label>
                <input id="first-name" name="first_name" type="text" value="<%= user.firstName %>" disabled/>
            </div>

            <div>
                <label for="last-name">Last name</label>
                <input id="last-name" name="last_name" type="text" value="<%= user.lastName %>" disabled/>
            </div>

            <div>
                <label for="street-and-number">Street and house number</label>
                <input id="street-and-number" name="street_and_number" type="text" value="<%= user.streetAndNumber %>" disabled/>
            </div>

            <div>
                <label for="zip-code">Zip code</label>
                <input id="zip-code" name="zip_code" type="text" value="<%= user.zipCode %>" disabled/>
            </div>

            <div>
                <label for="city">City</label>
                <input id="city" name="city" type="text" value="<%= user.city %>" disabled/>
            </div>

            <div></div>
        </fieldset>
    </form>

    <h3>Borrowing history</h3>
    <section class="history">
        <% if (history.length === 0) { %>
        <p>No history</p>
        <% } else { %>
        <table>
            <tr>
                <th>Book title</th>
                <th>Start date</th>
                <th>End date</th>
                <th>State</th>
            </tr>
            <% for (let reservation of history) { %>
                <tr>
                    <td>
                        <a href="<%= urlBase %>/book/<%= reservation.book.isbn %>">
                            <%= reservation.book.title %>
                        </a>
                    </td>
                    <td><%= reservation.startTime.toLocaleString() %></td>
                    <td><%= reservation.endTime.toLocaleString() %></td>
                    <% if (reservation.returned) { %>
                        <td class="history__entry__state history__entry__state--returned">Returned</td>
                    <% } else if (new Date() < reservation.endTime) { %>
                        <td class="history__entry__state history__entry__state--due">Due</td>
                    <% } else { %>
                        <td class="history__entry__state history__entry__state--late">Late</td>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </section>
    <% } %>
</main>
</body>
</html>
